.git
.github
.gitignore
.env
.env.example
.env.backup
NUCO/node_modules
NUCO/vendor
NUCO/storage/logs/*
!NUCO/storage/logs/.gitkeep
NUCO/storage/framework/cache/*
!NUCO/storage/framework/cache/.gitkeep
NUCO/storage/framework/sessions/*
!NUCO/storage/framework/sessions/.gitkeep
NUCO/storage/framework/views/*
!NUCO/storage/framework/views/.gitkeep
NUCO/bootstrap/cache/*
!NUCO/bootstrap/cache/.gitkeep
*.log
*.md
README.md
.vscode
.idea
.DS_Store
NUCO/tests
NUCO/phpunit.xml
docker-compose.yml
.dockerignore
