[phases.setup]
nixPkgs = ["php82", "php82Extensions.mbstring", "php82Extensions.pdo", "php82Extensions.pdo_mysql", "php82Extensions.curl", "php82Extensions.xml", "php82Extensions.zip", "php82Extensions.gd", "nodejs"]

[phases.install]
cmds = ["composer install --no-dev --optimize-autoloader"]

[phases.build]
cmds = [
    "npm install",
    "npm run build"
]

[start]
cmd = "php artisan config:clear && php artisan route:clear && php artisan view:clear && php artisan cache:clear && php artisan octane:frankenphp --host=0.0.0.0 --port=$PORT --workers=2 --max-requests=500"